/* inspired by the original IWDRM */

/* the header: "IWDRM, THE GAME." */
header {
	/* margins of the HTML element */
	width: 600px;
	margin: 50px auto 100px auto;  /* top right bottom left */
	padding: 0px;

	/* font stuff */
	font-family: "helvetica neue", helvetica, arial, verdana, sans-serif;
	font-size: 62px;
	font-weight: bold;
	color: #000;
	background-color: #eeeeee; /* light grey */
	line-height: 78px;
	text-transform: uppercase;
}

body {
	font-family:  "andale mono", courier new, courier, mono-spaced;
	font-size: 12px;
	color: #000;
	background-color:#FFFFFF;
}

#game {
	width: 1000px;
	margin:0 auto; /* right and left margins auto => horizontally centered */
	display: none; /* to hide this before user clicked "Start" button */
}

#question {
	float: left;
	width: 500px;
	text-align: right;
}

#answers {
	float: right;
	width: 500px;
	text-align: left;
}

#answersMargin { /* because setting the padding in #answers doesn't work */
	margin: 20px 0px 0px 20px;  /* top right bottom left */
}
